.App {
  text-align: center;
}

.container {
  max-width: 645px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.footer {
  text-decoration: none;
  color: #4b4c4e;
  text-align: center;
  font-family: sans-serif;
  margin-top: 50px;
  max-width: 645px;
}

.code-link:hover {
  text-decoration: underline;
  color: grey;
}

.code-link {
  text-decoration: none;
  color: #4b4c4e;
}
