.Current-location {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 50%;
  font-size: medium;
  font-weight: normal;
  font-family: Roboto, arial, sans-serif;
}

.Current-location .City {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  display: block;
}

.Current-location .Date {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.Current-location .Weather-description {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  display: block;
}
