.Forecast {
  cursor: pointer;
  margin-bottom: -1px;
  padding-bottom: 1px;
  transform: translate3d(0px, 0px, 0px);
  padding-top: 30px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.Day {
  line-height: 15px;
  padding-top: 7px;
  color: #202225;
  display: block;
}

.Weather-icon {
  display: inline-block;
  line-height: 1;
}

.Forecast-temperature {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  display: block;
}

.Forecast-high {
  display: inline-block;
  padding-right: 5px;
  color: #202225;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}

.Forecast-low {
  display: inline-block;
  color: #858a8d;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}

