.Form-container {
  background: #fff;
  display: flex;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  width: 690px;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.Form {
  flex: 1;
  display: flex;
  padding: 5px 4px 0 16px;
  height: 35px;
  font-size: 16px;
}

.Form .Search-city {
  flex: 1;
  border: none;
  width: 400px;
}

.Form .Submit-button {
  width: 100px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: right;
  padding-right: 20px;
}
